* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var;
    scroll-behavior: smooth;
}

:root {
    --var: #;
    --var: #;
    --var: #;
}

img {
    display: block;
}

a {
    display: block;
}




#myApp {
    width: 100vw;
    height: 100vh;
    display: flex;
}






#customCardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#customCard {
    width: 300px;
    height: 400px;
    background-color: #eee;
    border-radius: 20px;
    overflow: hidden;
}

#customCard img {
    width: 100%;
    border-radius: 20px;

}






*::placeholder {
    font-style: italic;
}


#customizerContainer {
    width: 600px;
    height: 100%;
    box-shadow: 0px 0px 10px 0px #00000066;
    padding: 20px;
}

.customSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.customSectionHeader {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}
.customSectionDetails {
    display: flex;
    gap: 5px;
}
.customSectionDetails input {
    width: 100%;
    padding: 3px;
}

#paddingDetails {
    width: 50%;
}

#addElements {
    display: flex;
    gap: 6px;
}
#addElements button {
    width: 100%;
    height: 30px;
}
#elementsList {
    padding: 20px;
}
#elementsList li {
    margin: 8px 0;
}